html{
    background: url(/imgs/squared-background.jpg) bottom center;
    background-size:auto;
    font-family: 'Amatic SC', cursive;
}

.header{
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
}

.header a{
    color: black;
    text-decoration: none;
    font-size: 48px;
    font-weight: bolder;
}

body{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
    
}

button{
    display: flex;
    height: 75px;
    width: 75px;
    align-items: center;
    justify-content: center;
}

.choices img{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    margin: 0;
    transition: opacity 0.5s;
}

.choices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    gap: 12px;
    margin: 12px;
}

.computer{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.human{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.computer .profile img{
    max-width: 100%;
    max-height: 400px;
    width: auto;
    margin: 0;
}

.computer .selection{
    background: url(/imgs/assets/Computer\ Score.PNG) center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.computer .selection img{
    max-width: 60%;
    max-height: 60%;
    min-width: 15%;
    min-height: 15%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.computer .selection p{
    padding: 4px;
    text-align: center;
    margin: 0;
    font-size: 100%;
}